    body {
        width: 100%;
        height: 100%;
    }
    
    html {
        width: 100%;
        height: 100%;
    }
    
    .navbar-transparent {
        background-color: transparent;
        background: transparent;
        border-color: transparent;
    }
    
    @media(min-width:767px) {
        .navbar {
            padding: 20px 0;
            -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
            -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
            transition: background .5s ease-in-out, padding .5s ease-in-out;
        }
        .top-nav-collapse {
            padding: 0;
        }
    }
    /* Demo Sections - You can use these as guides or delete them - the scroller will work with any sort of height, fixed, undefined, or percentage based.
The padding is very important to make sure the scrollspy picks up the right area when scrolled to. Adjust the margin and padding of sections and children 
of those sections to manage the look and feel of the site. */
    
    .intro-section {
        height: 100%;
        padding-top: 50px;
        text-align: left;
        background: url(bg.jpg);
        color: white;
    }
    
    .about-section {
        height: 100%;
        padding-top: 150px;
        text-align: left;
        background: rgb(22, 24, 32);
        color: rgb(247, 192, 11);
    }
    
    .menus-section {
        height: 100%;
        text-align: center;
        background-color: rgb(247, 192, 11);
    }
    
    .offers-section {
        height: 100%;
        padding-top: 50px;
        text-align: center;
        background: rgb(22, 24, 32);
        color: rgb(247, 192, 11);
    }
    
    .gallery-section {
        height: 100%;
        padding-top: 150px;
        text-align: center;
        background: url(bg.jpg) no-repeat;
    }
    
    .contact-section {
        height: 100%;
        padding-top: 80px;
        text-align: center;
        background: rgb(22, 24, 32);
    }
    
    .blog-section {
        height: 100%;
        padding-top: 50px;
        text-align: left;
        background-color: rgb(247, 192, 11);
    }
    
    .bt {
        background-color: rgb(247, 192, 11);
        padding: 10px 20px;
        border: 0px;
        color: black;
    }
    
    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
    
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }
    
    .row {
        display: flex;
        flex-wrap: wrap;
        padding: 0 4px;
    }
    
    .col {
        flex: 25%;
        max-width: 25%;
        padding: 0 4px;
    }
    
    .col img {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
    }
    
    .text-block {
        position: relative;
        width: 50%;
        bottom: 30px;
        left: 200px;
        background-color: rgb(22, 24, 32);
        color: white;
        padding-bottom: 20px;
        padding-top: 20px;
        border: 5px solid rgb(247, 192, 11);
    }
    
    footer {
        padding: 1rem 0;
        background: rgb(62, 62, 63);
        text-align: center;
        color: white;
    }
    
    .navbar-right {
        float: right;
    }
    
    .b {
        color: rgb(247, 192, 11);
        font-style: 'Open Sans', sans-serif, bold;
    }
    
    .col-sm-6 {
        padding-top: 70px;
    }
    
    .logo {
        width: 70px;
        height: 70px;
        position: relative;
        left: 170px;
    }
    
    .footer-element {
        text-align: center;
        padding: 14px 16px;
        font-size: 17px;
    }
    
    .fa {
        border-radius: 50%;
        border: 1px solid white;
        padding: 20px;
        text-align: center;
        margin: 2px 2px;
        background-color: white;
        color: black;
    }
    
    .sp {
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
    
    .at {
        position: relative;
        left: 280px;
        height: 400px;
    }
    
    .pl {
        position: relative;
        left: -450px;
        height: 410px;
    }
    
    .r {
        position: relative;
        left: 400px;
        height: 200px;
        width: 200px;
    }